@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url("./fonts/Oswald.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300 600;
	font-display: swap;
	src: url("./fonts/Inter.woff2") format("woff2");
}
@font-face {
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./fonts/SpaceMono-400.woff2") format("woff2");
}
@font-face {
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./fonts/SpaceMono-700.woff2") format("woff2");
}
