@import url("/fonts/nokia-cellphone-fc-small.css");
@import "tailwindcss";

@theme {
	--font-instrument: "Instrument Serif", serif;
	--font-serif: "Instrument Serif", serif;
	--font-sans: "Inter", sans-serif;
	--font-nokia: "Nokia Cellphone FC Small", monospace;
}

@utility font-instrument {
	font-family: "Instrument Serif", serif;
}

:root {
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
