@font-face {
	font-family: "Archivo";
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url(font-1.woff2) format("woff2");
}
@font-face {
	font-family: "Archivo";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	src: url(font-1.woff2) format("woff2");
}
@font-face {
	font-family: "Archivo";
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(font-1.woff2) format("woff2");
}
@font-face {
	font-family: "Archivo";
	font-style: normal;
	font-weight: 900;
	font-stretch: 100%;
	font-display: swap;
	src: url(font-1.woff2) format("woff2");
}
@font-face {
	font-family: "Plus Jakarta Sans";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(font-3.woff2) format("woff");
}
@font-face {
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(font-2.woff2) format("woff2");
}
@font-face {
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(font-2.woff2) format("woff2");
}
@font-face {
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(font-2.woff2) format("woff2");
}
@font-face {
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(font-2.woff2) format("woff2");
}
